* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sour Gummy', sans-serif;
    background-image: linear-gradient(to right, #63a5f09d, #c955ec9c);
    min-height: 100vh;
}

main {
    flex: 1;
    min-height: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    padding: 2em;
    background-color: linear-gradient(to right, #d4d8dd9d, #f2eaf59c);
}

h1 {
    margin-bottom: 1em;
    text-align: center;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }
}