header {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

nav {
    li {
        display: inline-flex;
        margin: 0 1em;
    }
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.1em;
        font-weight: bold;
        padding: 1em;
        background-color: rgb(236, 212, 181);
        border-radius: 12px;
    }
}

.nav-links {
    transition: 0.3s ease;
    &:hover {
        background-color: #1ac3ee;
    }
}

#current-page {
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
    nav {
        a {
            padding: 0.8em;
        }
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 0.5em;
    }
    nav {
        li {
            margin: 0 0.5em;
        }
        a {
            font-size: 1em;
            padding: 0.5em;
        }
    }
}

@media screen and (max-width: 370px) {
    header {
        padding: 0.2em;
    }
    nav {
        li {
            margin: 0 0.3em;
        }
        a {
            margin-top: 1em;
            font-size: 0.9em;
            padding: 0.5em;
        }
    }
}

@media screen and (max-width: 320px) {
    nav {
        a {
            margin-top: 1em;
            font-size: 0.9em;
            padding: 0.3em;
        }
    }
}