.about-article {
    flex: 1;
    min-height: 100%;
    max-width: 960px;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    padding: 2em;
    background-color: aliceblue;
    border-radius: 16px;
    p {
        max-width: 55ch;
        text-align: left;
        margin: 0 auto;
    }
}