.add-main {
    flex: 1;
    min-height: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0.2em;
    width: 100%;
    padding: 1em;
    background-color: rgb(105, 187, 255);
    border-radius: 12px;
}

form legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.7em;
    text-align: center;
}

form label {
    font-size: 1.2em;
    text-align: left;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 70%;
}

form input {
    padding: 0.5em 0.25em;
    border-radius: 8px;
    border-color: rgb(0, 68, 255);
    border-width: 1px;
    width: 100%;
}

textarea {
    max-width: 100%;
    max-height: 400px;
    min-width: 100%;
}

textarea::placeholder {
    font-size: 1.2em;
}

#error-message {
    color: rgb(221, 4, 4);
    margin: 0 auto;
    li {
        list-style-position: inside;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .add-main {
        padding: 2em;
    }
    form div {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .add-main {
        padding: 1em;
    }
    form div {
        width: 95%;
    }
    form button {
        width: 70%;
    }
    form legend {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 370px) {
    .add-main {
        padding: 0.5em;
    }
}

@media screen and (max-width: 320px) {
    .add-main {
        padding: 0em;
    }
    form {
        width: 95%;
    }
}