#experiences-container {
    background-color: rgb(255, 255, 255);
    padding: 1em 5em 5em;
    border-radius: 12px;
    margin: 0 auto;
    width: 100%;
    h2 {
        text-align: center;
        margin-bottom: 1em;
    }
}

#experience-list {
    max-width: 700px;
    width: 100%;
}

.experience-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2.5em;
    background-color: rgba(247, 241, 170, 0.582);
    box-shadow: 0 0 12px 2px black;
    border-radius: 16px;
    padding: 1em;
    p {
        margin-top: 0.5em;
        width: 100%;
        word-wrap: break-word;
    }
}

.experience-dates {
    margin-top: 1em;
    p {
        color: rgb(31, 30, 30);
        font-size: 0.9em;
    }
}

@media screen and (max-width: 768px) {
    .experience-item {
        padding: 1em;
    }
    #experiences-container {
        padding: 1em 3em 3em;
    }
}

@media screen and (max-width: 500px) {
    #experiences-container {
        border-radius: 0;
        padding: 1em;
    }
}